@media screen and (max-width: 755px) {

    .about h3{
        font-size: 15px;
    }
    
    .personal{
        flex-direction: column;
        font-size: 10px;

    }

    .educative p{
        font-size: 10px;
    }
.sign img{
    height: 10px;
}

    .SIGN P{
        font-size: 10px;
    }
}
